.searchbarwrap {
  width: 100%;
}

.searchbar, .categorysearchbar, .locationsearchbar {
  width: 41%;
  margin-right: 1%;
  height: 7vh;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}

.searchbar::placeholder, .categorysearchbar::placeholder, .locationsearchbar::placeholder {
  font-weight: 400;
}

.searchbar:hover, .categorysearchbar:hover, .locationsearchbar:hover {
  box-shadow: 0 0 5px var(--coral);
}

.searchbar:focus, .categorysearchbar:focus, .locationsearchbar:focus {
  outline: none;
  border: solid 4px var(--coral);
  box-shadow: 0 0 5px var(--coral);
}

.searchbarbutton {
  position: relative;
  top: -7px;
  left: 7px;
  height: 7vh;
  width: 8%;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: -7px 7px black;
  background-color: var(--coral);
  color: white;
  font-weight: 900;
  border: none;
}

.searchbarbutton:hover {
  top: 0px;
  left: 0px;
  box-shadow: none;
}

.categorysearchbar {
  width: 24%;

}

.locationsearchbar {
  width: 24%;

}