.loginform {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.registerform {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.imgwrap {
  width: 300px;
}

.imgwrap img {
  width: 100%;
}