.additemform {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.additeminput {

}

.addfileinput {

}

.submitformbutton {
  
}

.imgwrap {
  width: 300px;
}

.imgwrap img {
  width: 100%;
}